h1{
    color: brown;
    text-align: center;
    margin-top: 20px;
}
.page1{
    background-image: url(./Assets/welcomepg.jpg);
   
    height: 250px;
    width:auto;
    text-align: center;
    color: azure;
    font-size: medium;    
}
.about{
    text-align: center;
    margin-top: 12px;
}
.services{
    background-image: url(./Assets/services.jpg);
    background-color: aqua;
    height: 250px;
    width:auto;
    text-align: center;
    color: rgb(211, 248, 248);
    font-size: medium; 
}
.whatwedo{
    text-align: center;
    margin-bottom: 30px; 
    
}
.design-hiden {
    display: none;
  }
.development-hiden{
    display: none;
}
.productmgmt-hiden{
    display: none;
}
.Potfolio{
    width: 350px;
    float: left;
    margin: 10px;
  }